<!-- News_app/templates/news_app/password_change_done.html -->
{% extends 'base.html' %}
{% block title %}Password Changed{% endblock %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-success text-white">
                <h4 class="mb-0">Password Changed</h4>
            </div>
            <div class="card-body text-center">
                <p>Your password has been changed successfully.</p>
                <a href="{% url 'profile' %}" class="btn btn-primary">Back to Profile</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}